* text=auto !eol
/AGPL.txt -text
/LICENSE.txt -text
/README.txt -text
/SECURITY.txt -text
/build.xml -text
/composer.json -text
/sonar-project.properties -text
webroot/cmd-form.html -text
webroot/css/Share-Tech.ttf -text
webroot/css/Share-TechExp.ttf -text
webroot/css/Share-TechMono.ttf -text
webroot/css/Share-TechMonoExp.ttf -text
webroot/css/fullpage.css -text
webroot/css/wacc.css -text
webroot/ht.access -text
webroot/images/Share-TechMono.ttf -text
webroot/images/Share-TechMonoExp.ttf -text
webroot/images/config-button.png -text
webroot/images/favicon.png -text
webroot/images/wacc.png -text
webroot/images/wacc.svg -text
webroot/js/WACCClient.js -text
webroot/js/WACCTerminal.js -text
webroot/js/WACCTerminal.ts -text
webroot/js/jquery-1.7.1.min.js -text
webroot/js/term_styles.css -text
webroot/templates/overlay.html -text
webroot/templates/terminal.html -text
webroot/we.bconfig -text
webroot/web.config -text
